.Board {
  display: flex;
  flex-direction: column;
}

.Board .actions {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.Board .actions button {
  margin: 0 5px;
}

.Board .players {
  display: flex;
  flex-direction: row;
}

.Board .pot {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.Board .player {
  width: 33%;
}
